@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.module-border-wrap {
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, #5D49A0, #E9028E);
  padding: 3px;
}

.module {
  background: #222;
  color: white;
  padding: 2rem;
}

.btn-gradient-1 {
  background: linear-gradient(white, white) padding-box,
  linear-gradient(to right, #5D49A0, #E9028E) border-box;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: border-box;
}

.gradient-underline {
  background-image: linear-gradient(to right, #ff7e5f, #feb47b); /* Define your gradient colors */
  background-repeat: no-repeat;
  background-size: 100% 2px; /* Width and height of the underline */
  background-position: bottom center; /* Position the underline at the bottom center */
}
.btn-no-gradient {
  background: none !important;
  border: none !important;
  color: black !important;
}

.icon-container {
  position: relative;
}

.icon-container::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3px;
  border-radius: 2px;
  background:  linear-gradient(to right, #5D49A0, #E9028E);
}

